@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    background: #29b8e0;
    padding: 25px;
    width: 550px;
    border-radius: 10px;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
}
.input-group {
    display: flex;
    margin-bottom: 15px;
}

#text-input-field {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

#add-button {
    padding: 7px 9px;
    border: none;
    background-color: rgb(255, 0, 140);
}

.todos-container {
    overflow-y: scroll;
}

.todo-item-container {
    display: flex;
    margin-bottom: 5px;
}

#todo-text {
    width: 100%;
    font-size: 20px;
    letter-spacing: 1.5px;
    user-select: none;
}

.line-through {
    text-decoration: line-through;
    color: blue;
}

#edit-button,
#delete-button {
    padding: 5px;
    border: none;
    background-color: transparent;
}